
:root {
    --white:rgb(241, 233, 227);
    --black:rgb(31, 29, 29); 
    --color-primary:#eb790e;
    --color-sec:#c56900;
    --color-gray:rgb(78, 74, 74);
    --color-dark-gray:rgb(44, 42, 42);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}