
:root {
    --white:rgb(241, 233, 227);
    --black:rgb(31, 29, 29); 
    --orange:orange;
    --color-primary:#eb790e;
    --color-sec:#c56900;
    --color-gray:rgb(99, 94, 94);
    --color-dark-gray:rgb(44, 42, 42);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--color-dark-gray);
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

img {
    width: 100%;
}


/* Quiz box start */

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-box {
    width: 600px;
    margin: 0 auto;
    background-color: var(--white);
    padding: 1rem 5rem 5rem 5rem;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
}